
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F7FA;
}

/* ส่วนเนื้อหาหลัก */
.app-main-content {
  flex: 1; 
  padding: 20px 40px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app-main-content h1 {
  color: #01257D;

  border-bottom: 3px solid #1a33c0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}



.app-footer {
  background-color: #009b40;
  color: #ecf0f1;
  padding: 20px 40px;
  text-align: center;
  font-size: 0.9rem;
  border-top: 5px solid #01257D;
}

.footer-info p {
  margin: 0 0 10px 0;
  line-height: 1.6;
}

.footer-social {
  margin-bottom: 15px;
}

.social-link {
  color: #00FFFF;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}

.social-link:hover {
  color: #F5F7FA;
  background-color: #01257D;
}

.footer-copy {
  margin: 10px 0 0 0;
  opacity: 0.7;
  font-size: 0.85rem;
}


body.dark-mode .app-footer {
    background-color: #1a2430;
    border-top: 5px solid #00FFFF;
}

body.dark-mode .social-link {
    color: #00FFFF;
}

body.dark-mode .social-link:hover {
    background-color: #004D5A;
}


body.dark-mode .app-container {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .app-main-content h1 {
    color: #00FFFF;
}