.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

  background: linear-gradient(135deg, #e6ff09, #00FFFF); 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.course-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.course-code {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course-name {
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 1;
}

.course-group {
  font-size: 0.95rem;
  opacity: 0.9;
  font-style: normal;
  background-color: rgba(194, 11, 11, 0.1);
  padding: 2px 8px;
  border-radius: 4px;
}


body.dark-mode .app-header {
  background: linear-gradient(135deg, #3dda28, #004D5A);
  color: #192470;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}